#gene-expr-vplot-toolbar-plot-options {
    display: inline-flex;
}

#gene-expr-vplot-toolbar-plot-options label {
    margin-bottom: 0;
}

#gene-expr-vplot-toolbar {
    border-bottom: 1px solid #e2e2e2;
    border-top: 1px solid #e2e2e2;
    padding: 5px 0px 5px 0px;
}

.gene-expr-vplot-option-label {
    padding-right: 5px;
    font-size: 15px;
    font-variant: all-small-caps;
    font-weight: 500;
}

#gene-expr-vplot-svg .violin-x-axis line, .violin-y-axis line, .violin-x-axis path, .violin-y-axis path{
    stroke: Black;
}

#gene-expr-vplot-svg .violin-x-axis text, .violin-y-axis text, .violin-axis-label {
    fill: Black;
    font-size: 11.5px;
    font-weight: 500;
}

#gene-expr-vplot-svg text.violin-axis-label {
    font-size: 12px;
}

#gene-expr-vplot-svg text.violin-legend-text {
    font-size: 11.5px;
    fill: Black;
    font-weight: 500;
}

#gene-expr-vplot-svg path.violin.outlined {
    stroke-width: 1.2px;
    stroke: rgba(170, 170, 170, 0.9);
}

#gene-expr-vplot-svg path.violin.highlighted {
    stroke-width: 2px;
    stroke: rgba(85, 95, 102, 1);
}

#gene-expr-vplot-svg path.violin.highlighted.outlined {
    stroke-width: 2px;
    stroke: rgba(85, 95, 102, 1);
}
