#gene-expr-vplot-toolbar-plot-options {
    display: inline-flex;
}

#gene-expr-vplot-toolbar-plot-options .btn-group.btn-group-sm button {
    font-size: 11px;
}

#gene-expr-vplot-toolbar-plot-options label {
    margin-bottom: 0;
}

#gene-expr-vplot-toolbar {
    border-bottom: 1px solid #e2e2e2;
    border-top: 1px solid #e2e2e2;
    padding: 5px 0px 5px 0px;
}

.gene-expr-vplot-option-label {
    padding-right: 5px;
    font-size: 13px;
    font-variant: all-small-caps;
}

#gene-expr-vplot-svg .violin-x-axis line, .violin-y-axis line, .violin-x-axis path, .violin-y-axis path{
    stroke: #7d7d7d;
}

#gene-expr-vplot-svg .violin-x-axis text, .violin-y-axis text, .violin-axis-label {
    fill: #5a6674;
    font-size: 11px;
}

#gene-expr-vplot text.violin-legend-text {
    font-size: 10px;
    fill: #5a6674;
}
