#gene-expr-vplot-toolbar-plot-options {
    display: inline-flex;
}

#gene-expr-vplot-toolbar-plot-options .btn-group.btn-group-sm button {
    font-size: 11px;
}

#gene-expr-vplot-toolbar-plot-options label {
    margin-bottom: 0;
}

#gene-expr-vplot-toolbar {
    border-bottom: 1px solid #e2e2e2;
    border-top: 1px solid #e2e2e2;
    padding: 5 0 5 0;
}

.gene-expr-vplot-option-label {
    padding-right: 5;
    font-size: 13px;
    font-variant: all-small-caps;
}