
.btn-default {
    border-color: #4eb3d3;
}

.link:hover {
    text-decoration: underline;
    cursor: pointer;
}
label{
    margin-right: 10px;
}
table.matrix-table {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    border: 1px solid #94a8b8;
    border-spacing: 1px;
    border-collapse: collapse;
    margin-bottom: 20px;

}
.table-label {
    padding: 0 0 0 10px;
    caption-side:top;
    color: #fff;
    font-size: 14px;
    border: 1px solid #ffffff;

}
.matrix-table th, .matrix-table td {
    padding: 0px 10px 0px 10px;
    /*margin: 0;*/
    /*display: table-cell;*/
}
.matrix-table th[scope=col] {
    background-color: #f4f4f4;
    color: #111;
    border: 1px solid #ffffff;
    font-weight: normal;
}
.matrix-table th[scope=row] {
    background-color: #f4f4f4;
    color: #111;
    border: 1px solid #ffffff;
    font-weight: normal;

}
.matrix-table td {
    text-align: right;
    border: 1px solid #dfdfdf;
}
.matrix-table td:hover, .matrix-table th:hover {
    background-color: cadetblue;
}
.matrix-table th[scope=selected] {
    font-weight: bold;
    background-color: #203549;
    color: white;
}

td.selected {
    font-weight: bold;
    background-color: #203549;
    color: white;
}

.filter-section-title {
    font-size: 16px;
    font-weight: bold;
    color: #111;
    border-bottom: 1px solid #aaa;
    margin-bottom: 10px;
}

#filter-menu {
    font-size: 12px;
    /*display:none; */
    padding: 20px 20px 0 20px;
    border-left: 1px solid #eee;
}

div.filter-apply {
    font-size: 12px;
    text-decoration: underline;
}
.fire-cloud-form-box {
    border: 1px solid #aaa;
    padding: 5px 15px 10px 15px;
    margin: 10px;
    background-color: lightsteelblue;
    font-size: 12px;
}
.btn-sm.btn-gtex-d3 {
    background-color: rgb(42, 113, 139);
    color: #fff;
}