.dendrogram-axis line, .dendrogram-axis path{
  fill: none;
  stroke: #a9a9a9;
  shape-rendering: crispEdges;
}

.dendrogram-axis text {
    fill: #a9a9a9;
}

.leaf-color {
    stroke-width: 0;
}

.leaf-color.highlighted {
    stroke-width: 1px;
    stroke: #555f66;
}