.ed-tissue-main-level {
    font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
    margin:0;
    padding:0;
    font-size: 12px;
}
.ed-tissue-sub-level {
    margin: 0 0 0 16px;
    padding: 0;
    font-size: 9px;
}
.last-site {
    margin-bottom: 10px;
}
.ed-section-title {
    font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
    font-size: 15px;
}