body {
    font-family: 'Libre Franklin', sans-serif;
}
div{
    font-size: 12px;
}

text.highlighted {
    font-weight: 400;
    font-size: 12px;
    text-decoration: underline;
}

text.normal {
    fill: #111;
    font-weight: 300;
    font-size: 12px;
}

text.clicked {
    fill: #D25C43;
}

div.expressmap-tooltip {
   min-width: 100px;
   display: none;
   background-color : rgba(32, 53, 73, 0.95);
   padding: 10px;
   text-align:left;
   color: #ffffff;
   position:absolute;
   font-size:12px;
   z-index:4000;
   border-radius:5px;
}

.btn-default {
    border-color: #4eb3d3;
}

a {
    color: #4eb3d3;
}
