text.color-legend {
    font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
    font-size: 10px;
}

text.exp-map-xlabel {
    font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
    font-size: 10px;
}
text.exp-map-xlabel.highlighted {
    font-weight: 400;
    font-size: 12px;
    text-decoration: underline;
}
text.exp-map-xlabel.query {
    font-weight: 600;
    font-size:11px;
    fill: #d2111b;
}


text.exp-map-ylabel {
    font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
    font-size: 10px;
}
text.exp-map-ylabel.highlighted {
    font-weight: 400;
    font-size: 12px;
    text-decoration: underline;
}
text.exp-map-ylabel.clicked, text.exp-map-xlabel.clicked {
    fill: #D25C43;
}

rect.exp-map-cell {
    stroke-width:0px;
}
rect.exp-map-cell.highlighted {
    stroke: #D25C43;
    stroke-width:2px;
}

div.heatmap-tooltip {
   min-width: 100px;
   display: none;
   background-color : rgba(32, 53, 73, 0.95);
   padding: 10px;
   text-align:left;
   color: #ffffff;
   position:absolute;
   font-size:12px;
   z-index:4000;
   border-radius:5px;
}

/*.exp-map-tooltip table {*/
    /*margin:0;*/
    /*padding:0;*/
    /*border: 1px solid white;*/
    /*border-spacing: 2px;*/
/*}*/

/*.exp-map-tooltip td {*/
    /*padding: 2px;*/
    /*border: 1px solid white;*/
/*}*/

/*.exp-map-tooltip tr:nth-child(odd) {*/
    /*background-color: #000;*/
/*}*/

/*.exp-map-tooltip tr:nth-child(even) {*/
    /*background-color: #c8dcec;*/
    /*color: #000;*/
/*}*/


