.expressmap-bordered {
    stroke: #E6E6E6;
    stroke-width: 1px;
}
rect.expressmap-bordered {
    stroke: #E6E6E6;
    stroke-width: 0px;
}

rect.expressmap-highlighted {
    stroke: #D25C43;
    stroke-width:2px;
}

.legend .normal {
    fill: #a9a9a9;
}

.yLabel {
    cursor: pointer;
}