.junc {
    cursor: pointer;
}

.junc.highlighted {
    stroke: rgb(201, 2, 13);
    stroke-width: 5px;
}

.junc-curve {
    stroke-width: 1px;
    fill: none;
}

.junc-curve.highlighted {
    stroke: rgb(239, 59, 44);
    stroke-width: 2px;
    fill: none;
}

.intron {
    stroke: rgb(75, 134, 153);
    stroke-width: 1px;
    stroke-dasharray: 3, 3;
}

.exon {
    stroke: rgb(75, 134, 153);
    fill: none;
    stroke-width: 1px;
    stroke-dasharray: 3, 3;
}

.exon.highlighted {
    stroke: rgb(84, 219, 241);
    stroke-width: 5px;
    fill: none;
    stroke-dasharray: none;
}

.exon-curated {
    cursor: pointer;
    stroke-width: 1px;
    stroke: rgb(85, 95, 102);
}

.exon-curated.highlighted {
    stroke: rgb(84, 219, 241);
    stroke-width: 5px;
}

/*temporary solution*/
#modelLabel {
    font-family: "Open Sans", "Helvetica", sans-serif;
}
#modelInfo {
    font-family: "Open Sans", "Helvetica", sans-serif;
}


