.tissue-group-main-level {
    font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
    margin:0;
    padding:0;
    font-size: 12px;
}
.tissue-group-sub-level {
    margin: 0 0 0 16px;
    padding: 0;
    font-size: 9px;
}
.last-site {
    margin-bottom: 10px;
}
