.violin-x-axis line, .violin-y-axis line, .violin-x-axis path, .violin-y-axis path{
    fill: none;
    stroke: Silver;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.violin-x-axis text, .violin-y-axis text, .violin-x-axis-hide text {
    fill: #2a718b;
}

.violin-x-axis-hide line, .violin-x-axis-hide path{
    fill: none;
    stroke: Silver;
    stroke-width: 0;
    shape-rendering: crispEdges;
}

.violin-sub-axis line, .violin-sub-axis path{
    stroke-width: 1;
    stroke: Silver;
    shape-rendering: crispEdges;
}

.violin-sub-axis-hide line, .violin-sub-axis-hide path{
    stroke-width: 0;
    stroke: Silver;
    shape-rendering: crispEdges;
}

.violin-sub-axis text, .violin-sub-axis-hide text {
    fill: SlateGray;
    font-size: 9px;
}

.violin-axis-label {
    fill: SlateGray;
    font-size: 9px;
}
.violin-group-label {
    font-size: 9px;
    text-anchor: middle;
}

div.violin-tooltip {
   min-width: 100px;
   display: none;
   background-color : rgba(32, 53, 73, 0.95);
   padding: 10px;
   text-align:left;
   color: #ffffff;
   position:absolute;
   font-size:12px;
   z-index:4000;
   border-radius:5px;
}

path.gtex-violin.highlighted {
    stroke-width: 2;
    stroke: #555f66;
}

line.violin-median {
    stroke-width: 2;
    stroke: #fff;
}

rect.violin-ir {
    fill: #555f66;
    stroke-width: 0;
}

.btn-default{
   border-color: #4eb3d3;
}




