/* eQTL box plot stuff */
.closePlot {
   cursor:pointer;
   float:right;
}

.bbMap-canvas {
    margin-top: 30px;
    margin-left: 250px;
}

#bbMap-dialog .title {
   text-anchor: middle;
   font-size: 12px;
   
}

#bbMap-dialog text.plotviz-label {
   font-size: 12px;
}

#bbMap-dialog .plotviz-left-axis g.tick text {
   font-size: 11px;
}

#bbMap-dialog tspan {
   font-size: 11px;
}

.bbMap-clear {
   color: #999;
   font-size: 10px;
   text-decoration: underline;
   cursor: pointer;
}

/* jquery UI customization */
.ui-dialog .ui-dialog-titlebar {
   padding: 0.1em 0.2em;
}

.ui-dialog-content {
   width: 100% !important; /* this is an important overwrite that ensures that the ui-dialog-content's width remains 100% of the ui-dialog after a resizing event */
}

.ui-widget-header {
   border: 0px;
}
.ui-dialog {
    z-index:2000;
}
/* bbMap */
.hide {display:none;}

.bbMap-tooltip-class {
   min-width: 100px;
   display: none;
   background-color : rgba(11, 3, 4, 0.5);
   padding: 10px;
   text-align:left;
   color: #ffffff;
   position:absolute;
   font-family:arial;
   font-size:16px;
   z-index:4000;
   border-radius:5px;
}
/* tissue menu modal */

#bbMap-modal .modal-dialog {
    width: 1000px;
    display:block;
    margin: 30px auto;
}

#bbMap-modal .modal-body {
    overflow-y: scroll;
}

/* documentation modal */
#bbMap-doc-modal .modal-dialog {
    width: 1200px;
    display:block;
    margin: 30px auto;
}

#bbMap-doc-modal .modal-body {
    overflow-y: scroll;
}

/*SVG element*/
.foundSnp {
    stroke: #4567EE;
    stroke-width: 1;
}

.bubbleMouseover {
    stroke: #fd8c94 !important;
    stroke-width:2px;
}

.textMouseover {
    fill: red !important;
    /*font-size: 102%;*/
}

.textMatched {
    text-decoration: underline;
    font-weight: bold;
    fill: #4567EE;
}

.rFiltered {fill:#ddd}

.valueFiltered {fill:#ddd}

.exon {
   stroke: #1db2b7;
   stroke-width: 3px;   
}
.noFeature {stroke: #eee}
